<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock %}Poketch! Pokedex and more!</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'poketch_app/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'poketch_app/css/style.css' %}" />
    <link rel="icon" href="{% static 'poketch_app/favicon.ico' %}" />
</head>
<body>
    <div class="container" id="main-container">

        <header id="main-header">
            <h1>Poketch! Pokedex and more!</h1>
        </header>

        <nav id="main-nav">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link{% if active_tab == 1 %} active{% endif %}" href="/">Global Pokedex</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link{% if active_tab == 2 %} active{% endif %}" href="/regional-forms">Regional Forms</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link{% if active_tab == 3 %} active{% endif %}" href="/box-utility">Box Location Utility</a>
                </li>
                    <li class="nav-item">
                    <a class="nav-link{% if active_tab == 4 %} active{% endif %}" href="/statistics">Statistics</a>
                </li>
            </ul>
        </nav>

        <div id="subpage-container">
            {% block content %}
            {% endblock %}
        </div>
    </div>

    <script src="{% static 'poketch_app/js/bootstrap.min.js' %}"></script>
</body>
</html>